@import "../../variables/Variables.scss";

.cardContainer {
  background: $greyColorT;
  height: 70vh;
  width:33vw;
  border-radius: $defaultBorderRadius;
  padding:2rem
}

.heading1{
  font-size: $heading1 !important;
  color:$whiteColor
}

.textbox{
  background-color:$whiteColor ;
  border-radius: $smallBorderRadius;
}

