$greyColor: #343434;
$greyColorT:rgba(52, 52, 52, 0.7);
$whiteColor: #f7f7f7;
$lightGreyColor: #929aab;
$blueColor: #068fff;
$heading1: 32px;
$heading2:28px;
$defaultFontSize:14px;
$mainPadding:39px;
$subPadding:24px;
$defaultBorderRadius:18px;
$smallBorderRadius:8px