.container {
  background-image: url("https://hips.hearstapps.com/hmg-prod/images/new-years-movies-index-1640368473.jpg?resize=1200:*");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width:100vw;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
